docs/workflows/01-lead-capture-ai-scoring-ghl.json
{
  "name": "01 — Lead Capture → AI Scoring → GHL",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "lead-capture",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a1b2c3d4-0001-4001-8001-000000000001",
      "name": "Lead Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "lead-capture-001"
    },
    {
      "parameters": {
        "jsCode": "const lead = $input.first().json.body;\n\nreturn [{\n  json: {\n    anthropicBody: {\n      model: 'claude-haiku-4-5-20251001',\n      max_tokens: 256,\n      system: 'You are a lead qualification assistant. Classify leads as hot (high intent, clear budget, decision maker), warm (interested but unclear budget or timeline), or cold (low intent, vague, or not a good fit). Respond ONLY with valid JSON — no explanation, no markdown.',\n      messages: [{\n        role: 'user',\n        content: `Score this lead. Return only valid JSON: {\"score\": \"hot|warm|cold\", \"reason\": \"one sentence\"}\\n\\nName: ${lead.name || 'N/A'}\\nEmail: ${lead.email || 'N/A'}\\nCompany: ${lead.company || 'N/A'}\\nMessage: ${lead.message || 'N/A'}\\nBudget: ${lead.budget || 'N/A'}`\n      }]\n    },\n    lead: {\n      name: lead.name || '',\n      email: lead.email || '',\n      company: lead.company || '',\n      phone: lead.phone || '',\n      message: lead.message || '',\n      budget: lead.budget || '',\n      source: lead.source || 'Website Form'\n    }\n  }\n}];"
      },
      "id": "b2c3d4e5-0002-4002-8002-000000000002",
      "name": "Build Claude Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $env.ANTHROPIC_API_KEY }}"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.anthropicBody }}",
        "options": {}
      },
      "id": "c3d4e5f6-0003-4003-8003-000000000003",
      "name": "Call Claude API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [720, 300]
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\nconst rawText = response.content[0].text.trim();\n\nlet scoring;\ntry {\n  scoring = JSON.parse(rawText);\n} catch (e) {\n  scoring = { score: 'cold', reason: 'AI response could not be parsed — defaulted to cold' };\n}\n\nconst lead = $('Build Claude Prompt').first().json.lead;\nconst nameParts = lead.name.trim().split(' ');\n\nreturn [{\n  json: {\n    score: scoring.score,\n    reason: scoring.reason,\n    firstName: nameParts[0] || '',\n    lastName: nameParts.slice(1).join(' ') || '',\n    email: lead.email,\n    phone: lead.phone,\n    company: lead.company,\n    source: lead.source\n  }\n}];"
      },
      "id": "d4e5f6a7-0004-4004-8004-000000000004",
      "name": "Parse Score",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [960, 300]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "combinator": "and",
                "conditions": [
                  {
                    "id": "condition-hot",
                    "leftValue": "={{ $json.score }}",
                    "rightValue": "hot",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "Hot"
            },
            {
              "conditions": {
                "combinator": "and",
                "conditions": [
                  {
                    "id": "condition-warm",
                    "leftValue": "={{ $json.score }}",
                    "rightValue": "warm",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "Warm"
            }
          ]
        },
        "fallbackOutput": "extra",
        "options": {}
      },
      "id": "e5f6a7b8-0005-4005-8005-000000000005",
      "name": "Route by Score",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [1200, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://services.leadconnectorhq.com/contacts/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.GHL_API_KEY }}"
            },
            {
              "name": "Version",
              "value": "2021-07-28"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ ({\n  firstName: $json.firstName,\n  lastName: $json.lastName,\n  email: $json.email,\n  phone: $json.phone,\n  companyName: $json.company,\n  source: $json.source,\n  tags: ['hot-lead', 'ai-scored'],\n  locationId: $env.GHL_LOCATION_ID,\n  customFields: [\n    { key: 'lead_score', field_value: 'hot' },\n    { key: 'score_reason', field_value: $json.reason }\n  ]\n}) }}",
        "options": {}
      },
      "id": "f6a7b8c9-0006-4006-8006-000000000006",
      "name": "GHL — Hot Lead",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1440, 80]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://services.leadconnectorhq.com/contacts/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.GHL_API_KEY }}"
            },
            {
              "name": "Version",
              "value": "2021-07-28"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ ({\n  firstName: $json.firstName,\n  lastName: $json.lastName,\n  email: $json.email,\n  phone: $json.phone,\n  companyName: $json.company,\n  source: $json.source,\n  tags: ['warm-lead', 'ai-scored'],\n  locationId: $env.GHL_LOCATION_ID,\n  customFields: [\n    { key: 'lead_score', field_value: 'warm' },\n    { key: 'score_reason', field_value: $json.reason }\n  ]\n}) }}",
        "options": {}
      },
      "id": "a7b8c9d0-0007-4007-8007-000000000007",
      "name": "GHL — Warm Lead",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1440, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://services.leadconnectorhq.com/contacts/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.GHL_API_KEY }}"
            },
            {
              "name": "Version",
              "value": "2021-07-28"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ ({\n  firstName: $json.firstName,\n  lastName: $json.lastName,\n  email: $json.email,\n  phone: $json.phone,\n  companyName: $json.company,\n  source: $json.source,\n  tags: ['cold-lead', 'ai-scored'],\n  locationId: $env.GHL_LOCATION_ID,\n  customFields: [\n    { key: 'lead_score', field_value: 'cold' },\n    { key: 'score_reason', field_value: $json.reason }\n  ]\n}) }}",
        "options": {}
      },
      "id": "b8c9d0e1-0008-4008-8008-000000000008",
      "name": "GHL — Cold Lead",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1440, 520]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ ({\n  success: true,\n  score: $('Parse Score').first().json.score,\n  message: 'Lead classified as ' + $('Parse Score').first().json.score\n}) }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "c9d0e1f2-0009-4009-8009-000000000009",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1680, 300]
    }
  ],
  "connections": {
    "Lead Webhook": {
      "main": [
        [
          {
            "node": "Build Claude Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Claude Prompt": {
      "main": [
        [
          {
            "node": "Call Claude API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Claude API": {
      "main": [
        [
          {
            "node": "Parse Score",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Score": {
      "main": [
        [
          {
            "node": "Route by Score",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Score": {
      "main": [
        [
          {
            "node": "GHL — Hot Lead",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "GHL — Warm Lead",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "GHL — Cold Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GHL — Hot Lead": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GHL — Warm Lead": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GHL — Cold Lead": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1.0.0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": ""
  },
  "id": "lead-capture-ai-scoring-ghl-01",
  "pinData": {},
  "staticData": null,
  "tags": []
}
