docs/workflows/02-content-generation-n8n.json
{
  "name": "02 — Content Generation (n8n → Make)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "content-generate",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a1b2c3d4-0001-4001-8001-100000000001",
      "name": "Content Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "content-generate-001"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body;\n\nreturn [{\n  json: {\n    anthropicBody: {\n      model: 'claude-haiku-4-5-20251001',\n      max_tokens: 1024,\n      temperature: 0.7,\n      system: 'You are a professional content writer. Generate engaging, well-structured content based on the topic and tone provided. Always respond with only valid JSON — no explanation, no markdown wrapper.',\n      messages: [{\n        role: 'user',\n        content: `Generate content for the following request. Return only valid JSON:\\n{\\n  \"title\": \"catchy title\",\\n  \"blogPost\": \"full blog post with intro, 3 sections, and conclusion (use \\\\n for line breaks)\",\\n  \"socialCaption\": \"social media caption under 280 characters\",\\n  \"hashtags\": [\"tag1\", \"tag2\", \"tag3\"]\\n}\\n\\nTopic: ${body.topic || 'N/A'}\\nTone: ${body.tone || 'professional'}\\nContent type: ${body.contentType || 'blog post'}`\n      }]\n    },\n    meta: {\n      topic: body.topic || '',\n      tone: body.tone || 'professional',\n      contentType: body.contentType || 'blog post',\n      editorEmail: body.editorEmail || ''\n    }\n  }\n}];"
      },
      "id": "b2c3d4e5-0002-4002-8002-100000000002",
      "name": "Build Content Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $env.ANTHROPIC_API_KEY }}"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.anthropicBody }}",
        "options": {}
      },
      "id": "c3d4e5f6-0003-4003-8003-100000000003",
      "name": "Generate Content with Claude",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [720, 300]
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\nconst rawText = response.content[0].text.trim();\n\nlet content;\ntry {\n  content = JSON.parse(rawText);\n} catch (e) {\n  content = {\n    title: 'Generated Content',\n    blogPost: rawText,\n    socialCaption: rawText.substring(0, 280),\n    hashtags: []\n  };\n}\n\nconst meta = $('Build Content Prompt').first().json.meta;\nconst n8nBaseUrl = $env.N8N_WEBHOOK_BASE_URL || 'https://your-instance.app.n8n.cloud';\n\nreturn [{\n  json: {\n    title: content.title,\n    blogPost: content.blogPost,\n    socialCaption: content.socialCaption,\n    hashtags: content.hashtags || [],\n    topic: meta.topic,\n    tone: meta.tone,\n    contentType: meta.contentType,\n    editorEmail: meta.editorEmail\n  }\n}];"
      },
      "id": "d4e5f6a7-0004-4004-8004-100000000004",
      "name": "Parse Generated Content",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [960, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.MAKE_WEBHOOK_URL }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ ({\n  title: $json.title,\n  blogPost: $json.blogPost,\n  socialCaption: $json.socialCaption,\n  hashtags: $json.hashtags,\n  topic: $json.topic,\n  tone: $json.tone,\n  editorEmail: $json.editorEmail\n}) }}",
        "options": {}
      },
      "id": "e5f6a7b8-0005-4005-8005-100000000005",
      "name": "Send to Make for Approval",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1200, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ ({\n  success: true,\n  message: 'Content generated and sent for approval',\n  title: $('Parse Generated Content').first().json.title\n}) }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "f6a7b8c9-0006-4006-8006-100000000006",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1440, 300]
    }
  ],
  "connections": {
    "Content Webhook": {
      "main": [
        [
          {
            "node": "Build Content Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Content Prompt": {
      "main": [
        [
          {
            "node": "Generate Content with Claude",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Content with Claude": {
      "main": [
        [
          {
            "node": "Parse Generated Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Generated Content": {
      "main": [
        [
          {
            "node": "Send to Make for Approval",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send to Make for Approval": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1.0.0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": ""
  },
  "id": "content-generation-n8n-02",
  "pinData": {},
  "staticData": null,
  "tags": []
}
